<div class="row">
    <div class="col-8 text-center">
    </div>
    <div class="col-4 text-end">
        <!-- <button class="btn btn-success">Get Employees</button> -->
    </div>
</div>

<div class="row">
    <div class="col-8">
        <h2>Using Load-customer Service </h2>
        <table class="table table-bordered border-dark">
            <thead class="table-dark">
                <tr>
                    <th>Employee ID</th>
                    <th>Name</th>
                    <th>Contact No</th>
                    <th>Email</th>
                    <th>Department ID</th>
                    <th>Role</th>
                    <th>Created Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employeeList">
                    <td>{{ emp.employeeId }}</td>
                    <td>{{ emp.employeeName }}</td>
                    <td>{{ emp.contactNo }}</td>
                    <td>{{ emp.emailId }}</td>
                    <td>{{ emp.deptId }}</td>
                    <td>{{ emp.role }}</td>
                    <td>{{ emp.createdDate | date:'short' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>