<div class="container">
    <h2>Template Form</h2>
    <form #form="ngForm" class="row g-3 needs-validation" novalidate>
        <div class="col-md-4">
          <label >First name</label>
          <input type="text" name="firstName" #fName="ngModel" required [(ngModel)]="userObj.firstName" class="form-control">
          <div class="text-danger">
            @if(fName.errors?.['required'] && fName.touched && fName.dirty){
                <span>This is Required</span>
            }
          </div>
        </div>
        <div class="col-md-4">
          <label >Last name</label>
          <input type="text"name="lastName" required minlength="4" #lName="ngModel" [(ngModel)]="userObj.lastName" class="form-control">
            <div class="text-danger">
                <span *ngIf="lName.errors?.['required'] && lName.touched">This is Required</span>
                <span *ngIf="lName.errors?.['minlength'] && lName.touched">Min Char 4 Required</span>
            </div>
        </div>
        <div class="col-md-4">
          <label >Username</label>
          <div class="input-group has-validation">
            <span class="input-group-text" >&#64;</span>
            <input type="text" name="userName" pattern="kusuma_19" #uName="ngModel" [(ngModel)]="userObj.userName" class="form-control" >
            <div class="text-danger">
                <span *ngIf="uName.errors?.['pattern'] &&  uName.dirty"></span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label  >City</label>
          <input type="text" name="city" [(ngModel)]="userObj.city" class="form-control">
        </div>
        <div class="col-md-3">
          <label>State</label>
          <select class="form-select" name="state" [(ngModel)]="userObj.state" >
            <option selected disabled value="">Choose...</option>
            <option value="Bangalore">Bangalore</option>
            <option value="Goa">Goa</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="Andhra Pradesh">Andhra Pradesh</option>
          </select>
        </div>
        <div class="col-md-3">
          <label  >Zip</label>
          <input type="text" name="zipCode" [(ngModel)]="userObj.zipCode" class="form-control">
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" name="isTermsAgree" [(ngModel)]="userObj.isTermsAgree" type="checkbox" >
            <label class="form-check-label">
              Agree to terms and conditions
            </label>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary"[disabled]="form.invalid" type="button" (click)="onSave()">Submit form</button>
        </div>
      </form>
</div>


