<div class="row">
  <div class="col-3">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #39A6A3;">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">Pages</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/dashboard">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/employee">Employee</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Forms
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/forms">Template Form</a></li>
                <li><a class="dropdown-item" routerLink="/reactiveForm">Reactive Form</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                API
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/get-app">GET</a></li>
                <li><a class="dropdown-item" routerLink="/post-app">POST</a></li>
                <li><a class="dropdown-item" routerLink="/put-app">PUT</a></li>
                <li><a class="dropdown-item" routerLink="/delete-app">DELETE</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="col-9">
    <div class="container-fluid mt-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
