<!-- Interpolation -->
<h2>Interpolation : {{interpolation}}</h2>
<hr>

<!-- Property Binding (component -> template)
    syntax : [property]="value" -->
 <h2>Property Binding</h2>
 <input type="text" [placeholder]="placeHolderText">
 <hr>

 <!-- Event Binding (template -> component) 
      (event)="method()"-->
<h2>Event Binding</h2>
<button (click)="handleClick($event)">Click me</button>
<h3>Event Occured : {{order}}</h3>
<hr>

<!-- Two-way Binding ( template <-> component) -->
<h2>Two-way Binding</h2>
<input [(ngModel)]="name" placeholder="Enter Your Name :">
<h3>Welcome To Webknot, {{name}}</h3>
<hr>

<!-- Directives -> *ngIf -->
<h2>Directive : *ngIf</h2>
<button (click)="toggleMessage()">Toggle Message</button>
<p *ngIf="showMessage">Hello, Webknot</p>
<hr>
<h2>Directive : *ngFor And Using Pipe</h2>
<h3>Fetching List of Users</h3>
<ul>
<li *ngFor="let user of users">{{ user | uppercase}}></li>
</ul>
<hr>
<!-- Ngclass -	[ngClass]="{ 'class1': condition, 'class2': condition }" -->
<h2>Directive: ngClass</h2>  

<button (click)="toggleClass()" [ngClass]="{ 'active': isActive }">
  Toggle Active Class
</button>

<button (click)="toggleHighlight()" [ngClass]="{ 'highlight': isHighlighted, 'active': isActive }">
  Toggle Highlight and Active
</button>

<div [ngClass]="{ 'box': true, 'active': isActive, 'highlight': isHighlighted }">
box changes styles dynamically!
</div>

<hr>
<!-- ngStyle allows dynamic styling based on component properties
 	[ngStyle]="{ 'property': value }" -->
<h2> Directive : ngStyle</h2>
<p [ngStyle]="{ 'color': textColor }">Dynamic Color Text</p>
<button (click)="changeColor()">Change Color</button>
<hr>
<h2>Pipes</h2>
<p>Using Json To Print Obj : {{pipeObj | json}}</p>
<p>Convert Lower to Upper :{{pipeObj.name | uppercase}}</p>
<p>Getting Date Format : {{current | date}}</p>
<hr>

<h1>{{greeting}}</h1>
<div class="container">
  <div class="input">
    <input type="text" [(ngModel)]="eventName" [placeholder]="yourEventName">
    <input type="text" [(ngModel)]="eventTime" [placeholder]="yourEventTime">
    <input type="number" [(ngModel)]="progressTime" [placeholder]="yourProgress">
    <button (click)="addEvent()">Add To List</button>
  </div>
</div>

<div class="table">
  <table border="1">
    <thead>
      <tr>
        <td>Event-ID</td>
        <td>Event-Name</td>
        <td>Event-Time</td>
        <td>Progress</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of eventList"
        [ngStyle]="{ 'background-color': editingId === event.id ? 'lightblue' : 'white' }">
        <td>{{event.id}}</td>
        <td>
          <span *ngIf="editingId !== event.id">{{event.name}}</span>
          <input *ngIf="editingId === event.id" type="text" [(ngModel)]="editName">
        </td>
        <td>
          <span *ngIf="editingId !== event.id">{{event.time}}</span>
          <input *ngIf="editingId === event.id" type="text" [(ngModel)]="editTime">
        </td>
        <td>
          <span *ngIf="editingId !== event.id">
            <app-progress-bar [progressVal]="event.progress"></app-progress-bar></span>
          <input *ngIf="editingId === event.id" type="number" [(ngModel)]="editProgress">
        </td>
        <td>
          <button *ngIf="editingId !== event.id" (click)="editEvent(event)"
            [ngClass]="{'editing': editingId !== event.id}">Edit Me</button>
          <button *ngIf="editingId === event.id" (click)="saveEdit(event.id)">Save Me</button>
          <button (click)="deleteEvent(event.id)">Delete Me</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>