body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  h1 {
    color: #6a0dad;
    font-size: 28px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 15px;
  }
  
  input {
    width: 200px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #6a0dad;
    color: white;
    padding: 8px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: white;
    color: #6a0dad;
    border: 1px solid #6a0dad;
  }
  
  .table {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  table {
    width: 60%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #6a0dad;
    color: white;
  }
  
  button.editing {
    background-color: rgb(224, 62, 62);
  }
  
  tr.highlight {
    background-color: green;
  }
  
  td button {
    margin: 5px;
  }
  